@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Variables for Light and Dark Modes */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Base Body Styles */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Light and Dark Mode Image */
.responsive-image {
  content: url('/doradora-chinese-character.png');
}

@media (prefers-color-scheme: dark) {
  .responsive-image {
    content: url('/doradora-chinese-character-dark.png');
  }
}
