@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force light mode */
:root {
  color-scheme: light; /* Ensures scrollbars, input elements, etc., use light mode */
}

@media (prefers-color-scheme: dark) {
  html {
    filter: invert(0) !important; /* Neutralize any dark mode inversion */
    background-color: white !important; /* Force a white background */
    color: black !important; /* Force text to be black */
  }
}

/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

/* Base Body Styles */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/*
.responsive-image {
  content: url('/doradora-chinese-character.png');
}

@media (prefers-color-scheme: dark) {
  .responsive-image {
    content: url('/doradora-chinese-character-dark.png');
  }
}
*/
